<section>
    <h2>Container networks (1)</h2>
    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/userguide/networking/dockernetworks/" target="_blank">reference</a>
    </p>

    <div style="text-align: left">
        <ul>
            <li>Docker manages local networks</li>
            <li>Docker maintains internal DNS server per network</li>
            <li>Container can be started in any order</li>
            <li>Direct network connection (no port mappings needed)</li>
        </ul>
    <pre><p class="command">
    docker network create &lt;network name&gt;
    docker network ls # lists available networks
    docker network inspect &lt;network name&gt;
    </p></pre>

    <pre><p class="command">
    docker run -d --net &lt;network name&gt; --name web nginx:1.9.11
    docker run --rm -it --net &lt;network name&gt; centos:7.2.1511
    $ curl http://web
    </p></pre>

    <p class="hint">
        <span>--link can be used together with user defined networks but the behaviour is slightly different see
            <a href="https://docs.docker.com/engine/userguide/networking/work-with-networks/#linking-containers-in-user-defined-networks" target="_blank">reference</a> for more details.</span>
    </p>

    </div>
</section>