<section>
    <h2>Service discovery</h2>

    <div style="text-align: left">

    <ul>
        <li>Docker provides DNS based discovery out of the box</li>
        <li>Connection details passed into containers as ENV vars</li>
    </ul>

    <pre><p class="command">
    $ docker run ... -e SERVICE_URL=http://web ...
    </p></pre>

        <p class="hint"><span>Docker 1.12 introduced services in connection with the cluster capability swarm. But clusters go beyond the scope of this course.</span></p>

    </div>

</section>