<section class="title-slide">
    <h1>Docker</h1>
    <h2>ti&amp;m Academy</h2>
    <p>
        <img src="/images/docker-intro.png" width="500" />
    </p>
    <p>
        <small>28. October 2016</small><br>
        <small>Online Course Slides: http://{{localAddress}}:1948</small><br>
    </p>
    <div class="footer title-slide-footer">
        <p>
            Thomas Treuthardt, Francis Antonietti
        </p>
        <ul>
            <li>Consulting.</li>
            <li>Design.</li>
            <li>Agile Projects.</li>
            <li>Products.</li>
            <li>Innovation Hosting.</li>
        </ul>
    </div>
</section>