<section>
    <h1>Agenda</h1>
    <ul>
        <li>Docker basics</li>
        <li>Coffee break</li>
        <li>Docker first steps</li>
        <li>Dockerfile</li>
        <li>Lunch break</li>
        <li>Datavolume</li>
        <li>Multi containter environments</li>
        <li>Showcases</li>
    </ul>

</section>
