<section>
    <h2>Lab Infra</h2>

    <div style="text-align: left">
        <ul>
            <li>CentOS 7 vagrant box</li>
            <li>Docker 1.12</li>
            <li>SELinux is disabled</li>
            <li>Ansible scripts available in <a href="https://bitbucket.org/ti8m/docker-academy/raw/master/docker-academy-env" target="_blank">docker-academy repo</a></li>
        </ul>
    </div>

</section>