<section class="hands-on" data-state="hands-on">
    <h2>Hands-on</h2>

    <p>
        <a style="font-size: 0.5em" href="https://bitbucket.org/ti8m/docker-academy/raw/master/labs/volume-lab/"
           target="_blank">lab</a>
    </p>

    <ul>
        <li>Mount host folder with various permissions</li>
        <li>Create data volume container</li>
        <li>Spin up postgres db-server and initialize schema</li>
        <li>Backup db-dump from db-server</li>
    </ul>
</section>