<section>
    <h1>First steps</h1>
    <p>
        Know and apply the basic docker commands, understand the difference between containers and images
    </p>

    <p>
        <img src="/images/first-steps.png" class="title-image">
    </p>
</section>