<section>
    <h2>Container Commands</h2>

    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/reference/commandline/#container-commands" target="_blank">reference</a>
    </p>


    <div style="text-align: left">
        <ul>
            <li>run a command in a running container</li>
        </ul>
        <pre><p class="command">
        docker exec -it &lt;container-id&gt; /bin/sh
        docker attach &lt;container-id&gt;
        </p>
        </pre>
    </div>



    <div style="text-align: left">
        <ul>
            <li>bind ports from a container</li>
        </ul>
        <pre><p class="command">
        docker run -d -p 80:80 --name webserver nginx
        </p>
        </pre>
    </div>




</section>
