<section>
    <h2>Container Commands</h2>

    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/reference/commandline/#container-commands" target="_blank">reference</a>
    </p>


    <div style="text-align: left">
        <ul>
            <li>inspect a running container</li>
        </ul>
        <pre><p class="command">
        docker inspect &lt;containter-id&gt;
        docker inspect --format="&#123;&#123;.HostConfig.PortBindings&#125;&#125;" webserver
        docker inspect --format="&#123;&#123;.NetworkSettings.Networks.bridge.IPAddress&#125;&#125;" webserver
        </p>
        </pre>
    </div>



    <div style="text-align: left">
        <ul>
            <li>analyse logs from a container</li>
        </ul>
        <pre><p class="command">
        docker logs &lt;containter-id&gt;
        </p>
        </pre>
    </div>


    

</section>
