<section class="hands-on" data-state="hands-on">

    <h2>Hands-on</h2>

    <p>
        <a style="font-size: 0.5em" href="https://bitbucket.org/ti8m/docker-academy/raw/master/labs/first-steps/"  target="_blank">lab first-steps /</a>
        <a style="font-size: 0.5em" href="https://bitbucket.org/ti8m/docker-academy/raw/master/labs/docker-capabilities/" target="_blank">lab docker-capabilities</a>
    </p>

    <ul>
        <li>Familiarise yourself with the Docker commands</li>
        <li>Run this presentation with the academy/nodeserver</li>
        <li>Build the academy-app in a container</li>
    </ul>
</section>