<section>
    <h2>Docker for a POC</h2>
    <p style="font-size:medium">
    Helsana will provide new build infrastructure (git / nexus). The services shall be accessible from the internet,
    but only via https and over a secure entry server (nevis). Can the command line tools handle this setup?
    </p>
    <p>
        <img src="/images/hbi.jpg">
    </p>

</section>