<section>
    <h2>Weave Scope</h2>
    <p>
        <a style="font-size: 0.5em" href="https://bitbucket.org/ti8m/docker-academy/raw/master/labs/weave-scope"
           target="_blank">lab</a>
    </p>
    <p>Visualise your docker containers</p>

</section>