<section>
    <h1>Dockerfile</h1>
    <p>A Dockerfile is nothing but the source code for building Docker images</p>
    <p>
        <img src="/images/dockerfile.png" class="title-image" style="height: auto; width: 350px;">
    </p>
</section>