<section>
    <h2>.dockerignore</h2>
    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/reference/builder/#dockerignore-file" target="_blank">reference</a>
    </p>

    <div style="text-align: left">
        <ul>
            <li>All files in the Dockerfile directory are sent to the Docker daemon</li>
            <li>Optimise build time with excluding files which are not used during the build</li>
        </ul>

        <ul>
            <li>Example for a Maven project</li>
        </ul>
    <pre><p class="command">
    src/
    target/
    !target/*.jar
    </p></pre>

    </div>

</section>
