<section>
    <h2>Build Cache</h2>
    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/userguide/eng-image/dockerfile_best-practices/#build-cache" target="_blank">reference</a>
    </p>

    <div style="text-align: left">
        <ul>
            <li>Each layer (instruction) gets cached</li>
            <li>Instructions after the first cache miss are executed</li>
            <li>COPY/ADD: checksum of file(s)</li>
            <li>RUN: string comparison</li>
            <li>Order matters</li>
        </ul>
    </div>


    <div style="text-align: left">
        <ul>
            <li>Example for a NodeJS project</li>
        </ul>
    <pre><p class="command">
    COPY package.json  /app  # will not change as often as the app source
    WORKDIR /app
    RUN npm install --production
    COPY &lt;source&gt; /app
    </p></pre>

    </div>

</section>
