<section>
    <h2>Tags</h2>

    <div style="text-align: left">
    <ul>
        <li>Image coordinates</li>
    </ul>
    <pre><p class="command">
    [REGISTRY/][USER/]NAME[:TAG]
    </p></pre>

    <pre><p class="command">
    registry.ti8m.ch/trt/java-base-image:1.0 # using custom registry
    trt/java-base-image:1.0  # using default registry https://hub.docker.com/
    </p></pre>

        <p class="hint"><span>In contrast to Maven Docker image coordinates contain also the registry</span></p>

    <ul>
        <li>Tag</li>
    </ul>
    <pre><p class="command">
    docker tag IMAGE[:TAG] [REGISTRY/][USER/]NAME[:TAG]
    </p></pre>

    <pre><p class="command">
    $ docker tag busybox myownbusybox
    $ docker images | grep busybox
    busybox                    latest              <span style="color: red">e02e811dd08f</span>        2 weeks ago         1.093 MB
    myownbusybox               latest              <span style="color: red">e02e811dd08f</span>        2 weeks ago         1.093 MB
    </p></pre>


</section>
