<section>
    <h2>Push to the registry</h2>

    <div style="text-align: left">

        <ul>
            <li>Login</li>
        </ul>

    <pre><p class="command">
    docker login -u &lt;user&gt; -e &lt;email&gt;
    </p></pre>

        <ul>
            <li>Push</li>
        </ul>

    <pre><p class="command">
    docker push [REGISTRY/][USER/]NAME[:TAG]  # latest is used if TAG is omitted
    </p></pre>

    </div>

</section>
