<section class="single-fragment-only">
    <h2>Best Practices</h2>
    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/userguide/eng-image/dockerfile_best-practices/" target="_blank">reference</a>
    </p>

    <div>
        <ul>
            <li class="fragment">Do not store data inside an application container, use volume declaration for all write locations</li>
            <li class="fragment">Configure application to stay in the foreground</li>
            <li class="fragment">Run only one process per container</li>
            <li class="fragment">Do not run application as root</li>
            <li class="fragment">Logs should be written to stdout/stderr</li>
            <li class="fragment">Keep images as small as possible. (e.g avoid installing unnecessary software)</li>
            <li class="fragment">Minimize the number of layers</li>
            <li class="fragment">Install all packages in one RUN command and cleanup at the end</li>
            <li class="fragment">Prefer <code>COPY</code> in favour of <code>ADD</code></li>
            <li class="fragment">Use specific parent container tag and not latest</li>
        </ul>
    </div>
</section>
