<section>
    <h2>Samples (2)</h2>

    <div>

        <ul>
            <li><a href="https://github.com/CentOS/CentOS-Dockerfiles" target="_blank">CentOS-Dockerfiles</a>
                <ul>
                    <li><a href="https://github.com/CentOS/CentOS-Dockerfiles/blob/master/postgres/centos7/Dockerfile"
                           target="_blank">Postgres</a></li>
                    <li><a href="https://github.com/CentOS/CentOS-Dockerfiles/blob/master/httpd/centos7/Dockerfile"
                           target="_blank">Apache</a></li>
                </ul>
            </li>
        </ul>

    </div>


</section>
