<section>
    <h2>VM vs. Container</h2>

    <div>
        <div class="left">
            <p>
                <img src="/images/basics-vm.png" style="width: 380px">
            </p>
        </div>
        <div class="right" style="text-align: left;font-size: 0.6em">
            <p>Container</p>
            <ul>
                <li>less overhead</li>
                <li>fast startup</li>
                <li>all containter use host kernel</li>
                <li>isolation through linux kernel</li>
                <li>common base image</li>
            </ul>
            <p>
                <img src="/images/basic-docker.png" style="width: 480px">
            </p>
        </div>
    </div>
</section>